demos/n8n_workflows/Privacy Bot/Privacy Bot.json
{
  "name": "Privacy Bot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋 I'm here to handle data privacy!",
        "options": {
          "inputPlaceholder": "how do I keep my research data safe when using chatgpt?",
          "title": "Quick Privacy Agent",
          "customCss": ":root {\n  /* Colors — Ukiyo-e Earth Palette */\n  --chat--color-primary: #B84E34;               /* clay / kakishibu vermilion */\n  --chat--color-primary-shade-50: #A9452E;\n  --chat--color-primary-shade-100: #943C28;\n  --chat--color-secondary: #2E5E3A;             /* pine / moss green */\n  --chat--color-secondary-shade-50: #274F31;\n  --chat--color-white: #FAF7EF;                 /* rice paper */\n  --chat--color-light: #F3EFE3;                 /* washi */\n  --chat--color-light-shade-50: #E6E0CF;\n  --chat--color-light-shade-100: #CFC7AF;\n  --chat--color-medium: #B5AE9E;                /* warm gray */\n  --chat--color-dark: #1B1A16;                  /* sumi ink */\n  --chat--color-disabled: #8C8578;              /* muted taupe */\n  --chat--color-typing: #5A5347;                /* soft ink */\n\n  /* Base Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.25rem;\n  --chat--transition-duration: 0.15s;\n  --chat--font-family: (\n    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,\n    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif\n  );\n\n  /* Window Dimensions */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header Styles */\n  --chat--header-height: auto;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: var(--chat--color-dark);\n  --chat--header--color: var(--chat--color-light);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: none;\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 2em;\n  --chat--subtitle--font-size: inherit;\n  --chat--subtitle--line-height: 1.8;\n\n  /* Message Styles */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 1);\n  --chat--message--bot--background: var(--chat--color-white);\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--bot--border: none;\n  --chat--message--user--background: var(--chat--color-secondary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--user--border: none;\n  --chat--message--pre--background: rgba(0, 0, 0, 0.06);\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle Button */\n  --chat--toggle--size: 64px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: var(--chat--color-primary);\n  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);\n  --chat--toggle--active--background: var(--chat--color-primary-shade-100);\n  --chat--toggle--color: var(--chat--color-white);\n\n  /* Input Area */\n  --chat--textarea--height: 50px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: inherit;\n  --chat--input--border: 0;\n  --chat--input--border-radius: 0;\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: initial;\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: var(--chat--input--font-size);\n  --chat--input--border-active: 0;\n  --chat--input--left--panel--width: 2rem;\n\n  /* Button Styles */\n  --chat--button--color: var(--chat--color-light);\n  --chat--button--background: var(--chat--color-primary);\n  --chat--button--padding: calc(var(--chat--spacing) * 1 / 2) var(--chat--spacing);\n  --chat--button--border-radius: var(--chat--border-radius);\n  --chat--button--hover--color: var(--chat--color-light);\n  --chat--button--hover--background: var(--chat--color-primary-shade-50);\n  --chat--close--button--color-hover: var(--chat--color-primary);\n\n  /* Send and File Buttons */\n  --chat--input--send--button--background: var(--chat--color-white);\n  --chat--input--send--button--color: var(--chat--color-medium);\n  --chat--input--send--button--background-hover: var(--chat--color-primary-shade-50);\n  --chat--input--send--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--input--file--button--background: var(--chat--color-white);\n  --chat--input--file--button--color: var(--chat--color-secondary);\n  --chat--input--file--button--background-hover: var(--chat--input--file--button--background);\n  --chat--input--file--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--files-spacing: 0.25rem;\n\n  /* Body and Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n  --chat--footer--color: var(--chat--color-dark);\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        16
      ],
      "id": "ed1337f2-380c-4c0d-9ae0-59e1d8798411",
      "name": "When chat message received",
      "webhookId": "8ea0e922-81c1-4532-b467-ce3193121088"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Role**: You are a practical privacy coach.\n\n**Goal**: Given a user request `{{ $json.chatInput }}`, return *concise, current, step-by-step* instructions to (1) find privacy/data settings and (2) disable data collection or model-training for the named app(s). If multiple apps are named, handle each in its own section. Where no explicit “training” toggle exists, provide the closest effective controls (disable history, telemetry/analytics, personalization, web/app activity, cloud backups) and show how to delete stored data.\n\n**Output rules**\n\n1. Start each app section with a one-line **Summary** of what the user can disable.\n2. Then give **numbered steps** for **Web** and **Mobile** (if different). Keep each step ≤1 line.\n3. Use the **exact setting names** from the product UI when known; if wording differs, show both (e.g., “**AI Data Retention** / **AI Data Usage**”).\n4. End every app section with:\n\n   * **Delete/Export**: where to delete chats/history or export data (or the privacy request path).\n   * **Notes**: any limits (e.g., brief safety retention windows, enterprise-only controls).\n   * **References**: 1–2 **official** links (Help/Support/Trust/Policy). Optionally add one reputable explainer.\n5. If the app isn’t recognized or the steps are unclear, follow **SerpAPI Fallback** (below).\n6. Never guess. If a control truly doesn’t exist, say so plainly and give the best alternatives (e.g., use Temporary/Incognito mode, disable telemetry/analytics, switch off cloud backups, request enterprise admin changes).\n7. Avoid legal advice and sensitive content—stay practical and product-focused.\n\n**Playbooks (use these as starting points; still verify names in the UI):**\n\n1. **OpenAI ChatGPT**\n\n* **Web**: Profile → **Settings** → **Data controls** → toggle **Improve the model for everyone** OFF. Optional: **Chat history & training** OFF to stop saving new chats.\n* **Mobile**: Menu → profile → **Data controls** → same toggles.\n* **Delete/Export**: **Settings** → **Data controls** → **Export data** or **Delete account**.\n* **References**: help.openai.com (Data Controls FAQ, Temporary Chat FAQ).\n\n2. **Anthropic Claude**\n\n* **Web/Mobile**: Profile → **Settings** → **Privacy** → toggle **Help improve Claude** OFF (opts out of using chats for training).\n* **Notes**: Commercial/enterprise terms may differ.\n* **References**: support.anthropic.com (Privacy/Settings), anthropic.com (policy updates).\n\n3. **Google Gemini (consumer)**\n\n* **Web/Mobile**: Go to **myactivity.google.com/product/gemini** → **Turn off** **Gemini Apps Activity**.\n* **Notes**: Google may keep brief safety copies even when off.\n* **References**: support.google.com/gemini (Manage & delete Gemini Apps Activity).\n\n4. **xAI Grok (in X)**\n\n* **Web**: **More** → **Settings and privacy** → **Privacy & safety** → look for **Grok**/**Data sharing** controls → disable any data-sharing/training toggles.\n* **Also** check X’s **Privacy & safety** → **Ads preferences**.\n* **References**: x.ai/legal/faq, help.x.com.\n\n5. **Perplexity**\n\n* **Web**: Avatar → **Settings** → **Account**/**Privacy** → **AI Data Usage/Retention** → OFF.\n* **Mobile**: Avatar → **Settings** → **AI Data Usage** → OFF.\n* **Delete/Export**: Help Center → account deletion/export.\n* **References**: perplexity.ai/help (AI data usage), perplexity.ai/privacy.\n\n6. **Microsoft Copilot (consumer)**\n\n* **Web/Mobile**: Avatar → **Settings**/**Privacy** → disable any **Model training**/**Personalization** toggles (text/voice).\n* **Also** review **account.microsoft.com/privacy** (search/browsing/activity).\n* **References**: Microsoft Support (Privacy dashboard), Copilot help.\n\n7. **GitHub Copilot**\n\n* **Individuals**: GitHub → **Settings** → **Copilot** → **Privacy** → OFF **Allow GitHub to use my code snippets for product improvements**.\n* **Orgs**: Admins manage Copilot policies centrally.\n* **References**: docs.github.com (Manage Copilot policies).\n\n8. **Notion AI**\n\n* **Status**: Notion says it doesn’t use customer content to train Notion AI. No training toggle needed.\n* **Tips**: Delete sensitive pages; review workspace sharing/retention.\n* **References**: notion.so/security, notion.so/help (Notion AI privacy).\n\n9. **Slack AI**\n\n* **Status**: Slack says customer data isn’t used to train LLMs without explicit opt-in.\n* **Admins**: Review/disable Slack AI features at org level if available.\n* **References**: slack.com/trust (Privacy principles, Slack AI security).\n\n10. **Zoom AI Companion**\n\n* **Admins**: Zoom admin → disable **AI Companion** features or the **AI Companion panel**; confirm data-sharing defaults.\n* **References**: support.zoom.com (AI Companion data handling & enable/disable).\n\n11. **Grammarly**\n\n* **Web**: **Account** → **Settings** → **Product Improvement and Training** → OFF.\n* **Browser**: Pause/limit extension on sensitive sites.\n* **References**: support.grammarly.com (Product Improvement & Training control).\n\n12. **Poe (Quora)**\n\n* **Web/Mobile**: **Settings** → **Privacy**/**Data & Privacy** → delete chats; review privacy center.\n* **Notes**: Behavior can vary by model/bot used.\n* **References**: poe.com/pages/privacy-center, help.poe.com.\n\n13. **Cursor IDE**\n\n* **App**: **Settings** → **Privacy** → enable **Privacy Mode**; disable **Telemetry/Analytics**.\n* **References**: cursor.com/security, cursor.com/privacy.\n\n14. **LinkedIn (AI features)**\n\n* **Web**: Profile → **Settings & Privacy** → **Data privacy** → toggle **Data for generative AI improvement** OFF.\n* **References**: LinkedIn Help/Privacy Center.\n\n15. **Adobe Firefly / Creative Cloud “Content analysis”**\n\n* **Web**: **Adobe Account** → **Privacy & Personal data** → **Content analysis** → **Do not allow**.\n* **References**: helpx.adobe.com, adobe.com/privacy.\n\n16. **Meta AI (Facebook/Instagram)**\n\n* **Web/Mobile**: **Settings & privacy** → **Privacy Center** → **How Meta uses information for generative AI** → submit **Right to object** request.\n* **Notes**: Scope varies; content posted by others may still be used.\n* **References**: privacycenter.meta.com, Meta Help.\n\n17. **Jasper**\n\n* **Web**: **Privacy Center** → **Make a Privacy Request** (restrict/erase); confirm model-training status for your plan.\n* **References**: privacy.jasper.ai, jasper.ai/privacy.\n\n18. **Otter.ai**\n\n* **Admins**: Request **custom data retention**; consider **Opt out of Otter Chat**.\n* **Users**: Delete recordings not needed.\n* **References**: otter.ai/privacy-policy, Otter Help.\n\n19. **Trae (voice journaling)**\n\n* **App**: **Settings** → **Privacy** → disable analytics/diagnostics; review backups.\n* **References**: trae.ai/privacy-policy.\n\n20. **Wispr (voice/notes)**\n\n* **App**: **Settings** → **Privacy** → disable analytics; confirm on-device processing where offered.\n* **References**: wisprflow.ai/privacy-policy.\n\n**Quick resources (add when helpful)**\n\n* **ToS;DR** (summaries/ratings of app terms): [https://tosdr.org](https://tosdr.org)\n* **Mozilla *Privacy Not Included*** (product privacy reviews): [https://foundation.mozilla.org/privacynotincluded/](https://foundation.mozilla.org/privacynotincluded/)\n* **JustGetMyData / JustDeleteMe** (direct export/delete links): [https://www.justgetmydata.com](https://www.justgetmydata.com) / [https://justdeleteme.xyz](https://justdeleteme.xyz)\n* **YourDigitalRights** (automated data requests): [https://yourdigitalrights.org](https://yourdigitalrights.org)\n* **OptOut.Tools** (data broker opt-outs): [https://optout.tools](https://optout.tools)\n\n---\n\n**SerpAPI Fallback (when an app isn’t recognized or a setting name is unclear)**\n\n* **Goal**: find the *official* steps (Help/Support/Privacy pages) to disable training/data collection for the named app.\n* **Budget**: **max 3 searches**. If nothing definitive is found, say so and give best-effort alternatives (history/telemetry/personalization/backups).\n* **How to search** (use SerpAPI Google engine or equivalent):\n\n  1. Query 1 (precise): `\"<app name>\" disable model training privacy settings site:help.* OR site:support.* OR site:*.com/privacy`\n  2. Query 2 (UI phrase guess): `\"<app name>\" \"privacy\" \"data controls\" OR \"training\" OR \"improve the model\" OR \"AI data usage\"`\n  3. Query 3 (admin path): `\"<app name>\" enterprise admin disable AI training`\n* **Evaluation**: Prefer official domains (help/support/trust/privacy). Use reputable secondary explainers only if official docs are missing.\n* **Output**: Provide steps; include **References** with the exact URLs used. If still unknown after 3 searches, clearly state: “Official steps not published/found after 3 searches—here are the best available controls,” then give alternatives.\n\n**Tone & format**\n\n* Use sections per app: **Summary**, **Steps (Web/Mobile)**, **Delete/Export**, **Notes**, **References**.\n* Keep steps actionable; avoid fluff.\n* If the user says “all apps,” cover the ~20 above and invite them to name others.\n\n**Example**\n*User*: “How do I stop ChatGPT and Gemini from using my data?”\n*Return*: Provide the two app sections exactly as above (with current steps and references).\n",
        "options": {
          "maxIterations": 15,
          "returnIntermediateSteps": true,
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        144,
        16
      ],
      "id": "aab6e858-e7fe-4986-8652-9e537003cb8f",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        224
      ],
      "id": "c891b262-3ca1-4598-a52d-617478d23f2f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        416,
        224
      ],
      "id": "b1597ebf-07fb-49a1-9e79-6edf7c803bb5",
      "name": "SerpAPI",
      "credentials": {
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        224
      ],
      "id": "a6af2f32-74ba-4985-81b7-d4c9413b7566",
      "name": "Google Gemini Chat Model",
      "credentials": {
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 60,
    "saveExecutionProgress": false,
    "saveManualExecutions": false
  },
  "versionId": "ba4fafec-f0da-4478-b663-1a8f3df41f7f",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "2162723cb6e20ee1b69a1427ce9f508b43dc16f3429baace2f29d6afc35a62f3"
  },
  "id": "q8qfkoqYzJVRTF8W",
  "tags": []
}